/** @format */

.sec-3 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .blur {
    height: 20em;
    position: absolute;
    background-color: #65faaf5d;
  }

  .container {
    padding: 2rem;

    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    flex-direction: column;
    @media screen and (max-width: 760px) {
      width: 90%;
      backdrop-filter: none;
    }

    .recent-cont {
      display: flex;
      align-items: center;
      width: 20em;
      height: 4rem;
      margin: 1em 2em;
      justify-content: space-around;
      h2 {
        font-family: Operator Mono Lig;
        font-size: x-large;
      }
      /** @format */

      .button {
        height: 3em;
        color: black;
        width: 6em;
      }
    }
    .grid-container-layout {
      display: grid;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      grid-column-gap: 4rem;
      overflow: hidden;
      grid-template-columns: 1fr 1fr;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
      }

      .post-container {
        height: 27em;
        margin: auto;
        background: rgba(0, 0, 0, 0.192);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 22em;
        backdrop-filter: blur(4rem);

        -moz-box-shadow: inset 0 0 10px #00000018;
        -webkit-box-shadow: inset 0 0 10px #00000018;
        box-shadow: inset 0 0 10px #00000018;
        overflow: hidden;
        border-radius: 10px;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 27em;
        }

        @media screen and (max-width: 468px) {
          width: 100%;
          height: 24em;
        }
        .post-image {
          background-image: url("../../image/Group5.jpg");
          min-height: 12em;
          border-radius: 10px;
          width: 100%;
          padding: 1em;
          overflow: hidden;
        }
        .post-text {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: flex-start;
          backdrop-filter: blur(1rem);
          background-color: rgba(255, 255, 255, 0.226);
          padding: 1rem 1rem;

          h1 {
            font-size: 1.3em;
            padding: 0.7em 0em;
          }

          .profile {
            display: flex;
            align-items: center;

            .profile-image {
              height: 4em;
              border-radius: 50%;
              max-width: 4em;
              min-width: 4em;
              margin-right: 1em;
              background-position-x: center;
              background-size: cover;
              background-image: url("../../image/profile.jpg");
            }
          }
        }
      }
    }
  }
}
