#container {
  margin: 8em 0;
  display: grid;
  max-height: 30em;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  width: 60em;
  align-items: center;

  #buttons {
    display: none;

    @media screen and (max-width: 989px) {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      margin: 0rem 2rem 2rem 0rem;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;

      button {
        background-color: rgb(40, 40, 51);
        border: none;
        height: 2rem;
        width: 5rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        a {
          color: cyan;
          text-decoration: none;
        }
}
    }
  }

  @media screen and (max-width: 989px) {
    $border-color: rgba(rgb(41, 41, 41), 1);
    width: clamp(360px, 60vw, 600px);
    min-height: 250px;
    position: relative;
    padding: 15px;
    color: rgba(black, 0.5);
    margin: 3em 0;

    font-size: small;
    display: inline-block;
}
  .image {
    
    @media screen and (max-width: 989px) {
      overflow: hidden;
      display: flex;
      position: relative;
      
      img {
        min-width: 100%;
        height: 100%;
        overflow: hidden;
        background-position: center;
        background-size: contain;
      }

      h1 {
        position: absolute;
        background-color: rgb(40, 43, 61);
        width: 100%;
        height: 12%;
        font-size: xx-large;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 2rem;
        color: rgb(105, 250, 255);
      }

      
    }
  }

  .text {
    background-color: rgb(29, 29, 43);
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 3rem;
    @media screen and (max-width: 989px) {
      display: none;
    }

    #text-container {
      margin-top: -10rem;
      margin-bottom: 2em;
      h3 {
        font-size: xx-large;
        color: rgb(105, 250, 255);
      }
      p {
        color: rgb(235, 235, 235);
        font-size: 1.4em;
      }
    }

    .buttons {
      height: 5rem;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      display: flex;

      @media screen and (max-width: 989px) {
        display: block;
      }

      #button {
        margin: 1rem;
      }



      h1 {
        display: none;

        @media screen and (max-width: 989px) {
          display: block;
          font-size: large;
          letter-spacing: 3px;

          position: fixed;
          bottom: 6em;
          right: 0;
          margin-left: -30px;
          transform: rotate(-90deg);
          color: rgb(31, 18, 13);
          z-index: 1000;
        }

        @media screen and (max-width: 989px) {
          width: 80%;
          object-fit: cover;
          background-size: cover;
        }
      }
    }
  }
}